<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/Images/logo_ana.png"style="width:50px;height:50px;" class="img-fluid" alt="Responsive image">
    <span class="sinmaz">aşınmaz</span>
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav nav-fill menu" style="margin-left: 8rem!important;"> 
    <li class="nav-item mr-5 ml-1 active">    
        <a class="nav-link" (click)="GetLogPage()" >Log Kayıtları</a> 
    </li>

    <li class="nav-item mr-5 ml-4">    
      <a class="nav-link " (click)="GetKullanicilarPage()" >Kullanıcılar</a>
    </li>
    <li class="nav-item mr-5 ml-4">    
      <a class="nav-link"  (click)="GetTasinmazlarPage()">Taşınmaz Listesi</a>
    </li>
    <li style="margin-top: 15px;">
      <input type="text" class="form-control"  placeholder="Aranacak Kelimeyi Girin" [(ngModel)]="searchedKeyword">
    </li>
    <li class="nav-item ml-5 changeCursorPoint mt-1"style="position:absolute; right:2%"> 
      <button class="btn btn-danger my-2 my-sm-0 ml-2" (click)="OnLogout()" >
        <i class="fas fa-door-open" style="font-size: 30px; margin-top: 3px;"></i></button>
    </li>
  </ul>
</nav>

<div class="conntainer mt-3 ml-4 mr-4 mb-3 text-center">
  <table class="table table-bordered" style="border-width: 0;" id="excel-table">
    <div class="row border-3 font-weight-bold" >
      <thead style="margin-left: -11px;">
          <th style="width: 120px; margin-left: -20px;" >SıraNo</th>
          <th style="width: 120px; margin-left: -20px;">Kullanıcı Id</th>
          <th style="width: 220px; margin-left: -20px;" >İşlem Tipi</th>
          <th style="width: 450px; margin-left: -20px;" >Açıklama</th>
          <th style="width: 250px; margin-left: -20px;">Tarih ve Saat</th>
          <th style="width: 170px; margin-left: -20px;">Kullanıcı Ip</th>
      </thead>
    </div>
    <div class="col border-3" style="padding-left:2px;margin-left: -1.16%;max-width: 120%;width: 102.29%; height:26rem">
      <tbody>
        <tr style="margin-left: -20px;     font-style: italic;
        font-size: 12.5px;" *ngFor="let item of service.logs| filter:searchedKeyword| paginate: {itemsPerPage:9, currentPage:page, 
      totalItems:totalLength}">
        <td style="width: 120px; margin-left: -20px;">{{item.id}}</td>
        <td style="width: 120px; margin-left: -20px;">{{item.userId}}</td>
        <td style="width: 220px; margin-left: -20px;">{{item.islemTipi}}</td>
        <td style="width: 450px; margin-left: -20px;">{{item.aciklama}}</td>
        <td style="width: 250px; margin-left: -20px;">{{item.dateTime}}</td>
        <td style="width: 170px; margin-left: -20px;">{{item.userIp}}</td>
       </tr>
      </tbody>
    </div>
  <pagination-controls 
  previousLabel="Önceki"
   nextLabel="Sonraki" 
   (pageChange)="page = $event"></pagination-controls>
  </table>
</div>  

<footer style="margin-top: -4.7%;z-index: 1; ">
  <button type="button" class="btn btn-success" (click)="Exportexcel()"  style="position:absolute;left:70%"><i class="fas fa-file-excel pl-2" style="font-size:25px;"> Excell</i></button>
</footer>