<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/Images/logo_ana.png"style="width:50px;height:50px;" class="img-fluid" alt="Responsive image">
    <span class="sinmaz">aşınmaz</span>
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav ml-5">
    <li class="nav-item">    
      <img src="assets/Images/menu_bg.png"style="width:750px;height:50px;" class="img-fluid" alt="Responsive image">
    </li>
    <li class="nav-item ml-5 changeCursorPoint"> 
      <i class="fas fa-times-circle" style="font-size: 50px; color: white;"(click)="OntasinmazEkleCikis()" ></i>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row mt-4 container-fluid"style="margin-left: 0px;" >
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="OnSubmit()">
    <div class="col-md-6 ml-5 shadow-lg rounded kullanici-kayit-giris-panel">
      <div class="row">
        <div class="col-md-6 mt-5 position-absolute">
          <div class="form-group required">
            <label> İl: </label>
            <select class="form-control rounded-pill kullanici-kayit-genislik"  formControlName="Cities" style="padding-top:1px ;" required aria-label (change)="OnChangeCitiy($event.target.value)">
              <!-- <option value="">Select stae...</option> -->
              <option value="">İl Seçin...</option>
              <option *ngFor="let city of cities" [value]="city.id">{{city.ilName}} </option>
            </select>
            <label class="hata-lbl-kullanici text-danger" *ngIf="service.formModel.get('Cities').touched && service.formModel.get('Cities').invalid">{{service.boslukKontrolHataMessage}}</label> 
            <label class="hata-lbl-kullanici text-danger" *ngIf="service.formModel.get('Cities').touched && service.formModel.get('Cities').required">{{service.boslukKontrolHataMessage}}</label> 
          </div>
          <div class="form-group required">
            <label> İlçe: </label>
            <select class="form-control rounded-pill kullanici-kayit-genislik" disabled formControlName="Districts" style="padding-top:1px ;" required aria-label (change)="OnChangeDistricts($event.target.value)">
              <option value="">İlçe Seçin...</option>
              <option *ngFor="let district of districts"  [value]="district.id">{{district.ilceName}}</option>
            </select>
            <label class="hata-lbl-kullanici text-danger" *ngIf="service.formModel.get('Districts').touched && service.formModel.get('Districts').invalid">{{service.boslukKontrolHataMessage}}</label> 
          </div>
          <div class="form-group required">
            <label> Mahalle: </label>
            <select class="form-control rounded-pill kullanici-kayit-genislik" disabled formControlName="Neighbourhoods" style="padding-top:1px ;" required aria-label >
              <option value="">Mahalle Seçin...</option>
              <option *ngFor="let neighbourhood of neighbourhoods"  [value]="neighbourhood.mahalleId">{{neighbourhood.mahalleName}}</option>
            </select>
            <label class="hata-lbl-kullanici text-danger" *ngIf="service.formModel.get('Neighbourhoods').touched && service.formModel.get('Neighbourhoods').invalid">{{service.boslukKontrolHataMessage}}</label> 
          </div>
      </div>
      <div class="col-md-6 ml-5 mt-5 "style="margin-left:59%!important">
        <div class="form-group required">  
          <label> Ada: </label>
          <input disabled type="text" placeholder="Parsel" class="form-control rounded-pill kullanici-kayit-genislik" formControlName="Ada"> 
        </div>
      </div>
      <div class="col-md-6 ml-5 "style="margin-left:59%!important">
        <div class="form-group required">  
          <label> Parsel: </label>
          <div data-toggle="modal" data-target="#mapModalParsel" style="width: 50px;margin-top: -5px;"  class="btn btn-block bg-danger text-light rounded-pill kullanici-kayit-genislik" ><i class="fas fa-map-marker-alt"style="font-size:25px;"></i></div>
          <input disabled placeholder="Parsel"class="form-control rounded-pill kullanici-kayit-genislik" style="margin-left:50px;margin-top: -40px;width: 195px;" formControlName="Parsel">  
          </div>
      </div>
      <div class="col-md-6 ml-5 "style="margin-left:59%!important">
        <div class="form-group required">  
          <label> Nitelik: </label>
          <input disabled class="form-control rounded-pill kullanici-kayit-genislik"formControlName="Nitelik">  
          </div>
      </div>
      <div class="row-md mt-4 ml-4"style="margin:3% auto auto 25%!important;width:150px; ">
          <label style="margin-left: -20px;"> Koordinata Git: </label>
          <input disabled placeholder="X"class="form-control rounded-pill kullanici-kayit-genislik" style="margin-left:90px;margin-top: -38px;width: 100px;" formControlName="xCoordinatesParsel">  
          <input disabled placeholder="Y"class="form-control rounded-pill kullanici-kayit-genislik" style="margin-left: 188px;margin-top: -38px;width: 100px;" formControlName="yCoordinatesParsel">  
       
      </div>
      <div class="form-row ml-4 mt-4" style="margin-left: 6%!important;position: absolute;top: 80%;">
        <div class="form-group col-md-8 offset-md-2">
          <button class="btn btn-lg btn-block bg-primary text-light rounded-pill kullanici-kayit-genislik" [disabled]="service.formModel.invalid"><img src="assets/Images/eklee.png"style="margin-right:13px; height:40px"/>Taşınmaz Ekle</button>
        </div>
      </div>
      </div>
    </div>
    </form>
  </div>
  <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"style="width: 261%;margin-left: -80%;height:38rem;">
        <div class="modal-header">
          <h5 class="modal-title" id="mapModal">Koordinat Seç</h5>
          <button type="button" id="cancel" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style=" display: contents;">
          <div id="ol-map" (click)="GetCoord($event)" class="map-container"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mapModalParsel" tabindex="-1" role="dialog" aria-labelledby="mapModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"style="width: 261%;margin-left: -80%;height:38rem;">
        <div class="modal-header">
          <h5 class="modal-title" id="mapModal">Parsel Seç</h5>
          <button type="button" id="cancelParsel" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style=" display: contents;">
          <div id="ol-map-parsel" (click)="GetCoordParsel($event)" class="map-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>