<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/Images/logo_ana.png"style="width:50px;height:50px;" class="img-fluid" alt="Responsive image">
    <span class="sinmaz">aşınmaz</span>
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav nav-fill menu" style="margin-left: 8rem!important;"> 
    <li class="nav-item mr-5 ml-1">    
        <a class="nav-link" (click)="GetLogPage()" >Log Kayıtları</a> 
    </li>

    <li class="nav-item mr-5 ml-4">    
      <a class="nav-link active" (click)="GetKullanicilarPage()" >Kullanıcılar</a>
    </li>
    <li class="nav-item mr-5 ml-4">    
      <a class="nav-link"  (click)="GetTasinmazlarPage()">Taşınmaz Listesi</a>
    </li>
    <li style="margin-top: 15px;">
      <input type="text" class="form-control"  placeholder="Aranacak Kelimeyi Girin" [(ngModel)]="searchedKeyword">
    </li>
    <li class="nav-item ml-5 changeCursorPoint mt-1"style="position:absolute; right:2%"> 
      <button class="btn btn-danger my-2 my-sm-0 ml-2" (click)="OnLogout()" >
        <i class="fas fa-door-open" style="font-size: 30px; margin-top: 3px;"></i></button>
    </li>
  </ul>
</nav>

<div class="conntainer mt-3 ml-4 mr-4 mb-3 text-center">
  <table class="table table-bordered" style="border-width: 0;">
    <div class="row border-3 font-weight-bold" >
      <thead style="margin-left: -11px;">
          <th style="width: 120px; margin-left: -20px;" >SıraNo</th>
          <th style="width: 250px; margin-left: -20px;">Adı</th>
          <th style="width: 250px; margin-left: -20px;" >Soy Adı</th>
          <th style="width: 250px; margin-left: -20px;" >Mail Adı</th>
          <th style="width: 170px; margin-left: -20px;">Rol</th>
          <th style="width: 140px; margin-left: -20px;">Güncelle</th>
          <th style="width: 140px; margin-left: -20px;">Sil</th>
      </thead>
    </div>
    <div class="col border-3" style="padding-left:2px;margin-left: -1.16%;max-width: 120%;width: 102.29%; height:26rem">
      <tbody>
        <tr style="margin-left: -20px;" *ngFor="let item of service.users | filter:searchedKeyword| paginate: {itemsPerPage:7, currentPage:page, 
      totalItems:totalLength}">
        <td style="width: 120px; margin-left: -20px;">{{item.id}}</td>
        <td style="width: 250px; margin-left: -20px;">{{item.name}}</td>
        <td style="width: 250px; margin-left: -20px;">{{item.lastName}}</td>
        <td style="width: 250px; margin-left: -20px;">{{item.mail}}</td>
        <td style="width: 170px; margin-left: -20px;" *ngIf="item.rolId==1">Admin</td>
        <td style="width: 170px; margin-left: -20px;" *ngIf="item.rolId==2">Kullanıcı</td>
        <td style="width: 140px; margin-left: -20px;"><button style="background-color: white;border-width: 0px;"  data-toggle="modal" data-target="#exampleModal" (click)="OnEdit(item)"><i class="fas fa-pencil-alt" style="font-size: 26.2px;color:#dc3545"></i></button></td>
        <td style="width: 140px; margin-left: -20px;" ><button style="background-color: white;border-width: 0px;" (click)="OnDelete(item.id)"><i class="fas fa-trash-alt" style="font-size: 26.2px;color:#dc3545"></i></button></td>
       </tr>
      </tbody>
    </div>
  <pagination-controls 
  previousLabel="Önceki"
   nextLabel="Sonraki" 
   (pageChange)="page = $event"></pagination-controls>
  </table>


    <div class="modal fade" style="margin-top: 5%;" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"style="border-radius: 25px;">
        <div class="modal-header shadow-lg">
          <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Güncelle</h5>
          <button type="button" class="close"id="cancel" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="margin: auto -17px auto 17px;">
          <form [formGroup]="formValue">
            <div class="row">
              <div class="col-md-6 mt-1">
                <div class="form-group required">
                  <label class="lblKullaniciGuncelle"> Ad: </label>
                  <input class="form-control rounded-pill kullanici-kayit-genislik" formControlName="firstName">
                  <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('firstName').touched && formValue.get('firstName').errors?.required">{{service.boslukKontrolHataMessage}}</label>
                </div>
                <div class="form-group required">
                  <label style="margin:5% auto auto -65%;"> SoyAd: </label>
                 <input class="form-control rounded-pill kullanici-kayit-genislik" formControlName="lastName">
                 <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('lastName').touched && formValue.get('lastName').errors?.required">{{service.boslukKontrolHataMessage}}</label> 
                </div>
              </div>
              <div class="col-md-6 mt-1">
                <div class="form-group required">  
                  <label  style="margin:0% auto auto -65%;"> Rol: </label>
                  <select class="form-control rounded-pill kullanici-kayit-genislik"  formControlName="rolesListUser" style="padding-top:1px ;" required aria-label>
                    <option *ngFor="let rol of roles" [ngValue]="rol.id">{{rol.rolName}}</option>
                  </select>
                </div>
                <div class="form-group required">
                  <label style="margin:5% auto auto -65%;"> Mail: </label>
                 <input class="form-control rounded-pill kullanici-kayit-genislik" formControlName="email">
                 <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('email').touched && formValue.get('email').errors?.required">{{service.boslukKontrolHataMessage}}</label> 
                 <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('email').touched && formValue.get('email').errors?.email">Lütfen email adresinizi düzeltin.</label> 
                </div>
                  <div class="form-group required"style="margin-left:-129px;margin-right:129px">
                    <label style="margin:5% auto auto -73%;"> Şifre:  </label>
                    <input type="password" [type]="showPassword ? 'text' : 'password'" class="form-control rounded-pill kullanici-kayit-genislik" formControlName="password">
                     <div class="paswordVisible" style="margin-top: 5.3rem; left:1.8rem">
                      <i alt="show" class="far fa-eye eye-show" 
                      (click)="showPassword = !showPassword"
                      [class.hide]="showPassword"></i>
                      <i alt="hide" class="far fa-eye-slash eye-hide" 
                      (click)="showPassword = !showPassword"
                      [class.hide]="!showPassword"></i>
                    </div>
                    <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('password').touched && formValue.get('password').errors?.required" >{{service.boslukKontrolHataMessage}}</label> 
                    <label class="hata-lbl-kullanici text-danger"style="margin-left:-150px; margin-right:190px" *ngIf="formValue.get('password').touched && formValue.get('password').errors?.pattern" >{{service.sifreKarakterSayiKontrolHataMessage}}</label> 
                  </div>
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer" style="margin-top: 10%;">
          <button type="button" class="btn btn-primary"[disabled]="!formValue.valid" (click)="UpateUser()"><i class="fas fa-user-edit mr-1"></i>Güncelle</button>
        </div>
    </div>
  </div>
</div>




</div>  
<footer style="margin-top: -4.6%; ">
  <button type="button" class="btn btn-primary ml-5" style="margin-left: 80%!important;"(click)="OnKullaniciEkle()"><i class="fas fa-user-plus"style="font-size:25px;"> Kullanıcı Ekle</i></button>
</footer>