<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/Images/logo_ana.png"style="width:50px;height:50px;" class="img-fluid" alt="Responsive image">
    <span class="sinmaz">aşınmaz</span>
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav nav-fill ml-5 menu">
    <li class="nav-item mr-5 ml-4">    
        <a class="nav-link" >Log Kayıtları</a> 
    </li>

    <li class="nav-item mr-5 ml-4">    
      <a class="nav-link active" (click)="GetKullanicilarPage()">Kullanıcılar</a>
    </li>
    <li class="nav-item mr-5 ml-4">    
      <a class="nav-link" (click)="GetTasinmazlarPage()">Taşınmaz Listesi</a>
    </li>
    <li class="nav-item ml-5 changeCursorPoint mt-1"style="position:absolute; right:2%"> 
      <button class="btn btn-danger my-2 my-sm-0 ml-2" (click)="OnLogout()" >
        <i class="fas fa-door-open" style="font-size: 30px; margin-top: 3px;"></i></button>
    </li>
  </ul>
</nav>

<div class="conntainer mt-3 ml-4 mr-4 mb-3 text-center">
  <div class="row border-3 font-weight-bold" >
    <div class="col-sm-1 border" style="margin-left: 0px!important;">SıraNo</div>
    <div class="col  border b">Adı</div>
    <div class="col border p-1">Soy Adı</div>
    <div class="col border p-1">Mail Adı</div>
    <div class="col border p-1">Rol</div>
    <div class="col-sm-1 border p-1">Güncelle</div>
    <div class="col-sm-1 border p-1">Sil</div>
  </div>
  <div class="col border-3" style="margin-left: -1.16%;max-width: 120%;width: 102.29%; height:27rem">
    <div *ngFor="let item of service.users | paginate: {itemsPerPage:10, currentPage:page, 
      totalItems:totalLength}" class="row">
      <div class="col-sm-1 border" style="margin-left: 0px!important;">{{item.id}}</div> 
      <div  class="col  border">{{item.name}}</div>
      <div  class="col border p-1">{{item.lastName}}</div>
      <div  class="col border p-1">{{item.mail}}</div>
      <div  class="col border p-1">{{item.rolId}}</div>
      <div class="col-sm-1 border p-1"><button style="background-color: white;border-width: 0px;"  data-toggle="modal" data-target="#exampleModal" (click)="OnEdit(item)"><i class="fas fa-pencil-alt" style="font-size: 26.2px;color:#dc3545"></i></button></div>
      <div class="col-sm-1 border p-1"><button style="background-color: white;border-width: 0px;" (click)="OnDelete(item.id)"><i class="fas fa-trash-alt" style="font-size: 26.2px;color:#dc3545"></i></button></div>
    </div>
  </div>
  <pagination-controls 
  previousLabel="Önceki"
   nextLabel="Sonraki" 
   (pageChange)="page = $event"></pagination-controls>



    <div class="modal fade" style="margin-top: 5%;" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"style="border-radius: 25px;">
        <div class="modal-header shadow-lg">
          <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Güncelle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="row">
              <div class="col-md-6 mt-1 position-absolute">
                <div class="form-group required">
                  <label class="lblKullaniciGuncelle"> Ad: </label>
                  <input class="form-control rounded-pill kullanici-kayit-genislik" formControlName="firstName">
                  <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('firstName').touched && formValue.get('firstName').errors?.required">{{service.boslukKontrolHataMessage}}</label>
                </div>
                <div class="form-group required">
                  <label style="margin:5% auto auto -65%;"> SoyAd: </label>
                 <input class="form-control rounded-pill kullanici-kayit-genislik" formControlName="lastName">
                 <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('lastName').touched && formValue.get('lastName').errors?.required">{{service.boslukKontrolHataMessage}}</label> 
                </div>
                <!-- <div formGroupName="passwords">
                  <div class="form-group required">
                    <label> Şifre:  </label>
                    <input type="password" [type]="showPassword ? 'text' : 'password'" class="form-control rounded-pill kullanici-kayit-genislik"formControlName="password">
                     <div class="paswordVisible" style="margin-top: 1.5px;">
                      <i alt="show" class="far fa-eye eye-show" 
                      (click)="showPassword = !showPassword"
                      [class.hide]="showPassword"></i>
                      <i alt="hide" class="far fa-eye-slash eye-hide" 
                      (click)="showPassword = !showPassword"
                      [class.hide]="!showPassword"></i>
                    </div>
                    <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('passwords.password').touched && formValue.get('passwords.password').errors?.required" >{{service.boslukKontrolHataMessage}}</label> 
                    <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('passwords.confirmPassword').touched && formValue.get('passwords.confirmPassword').errors?.pattern" style="font-size: 10px;width: 123px;left: 42%;">{{service.sifreKarakterSayiKontrolHataMessage}}</label> 
                  </div>
                  <div class="form-group required">
                    <label> Şifre Tekrar: </label>
                    <input [type]="showConfirmPassword ? 'text' : 'password'"  class="form-control rounded-pill kullanici-kayit-genislik" formControlName="confirmPassword">      
                   <div class="paswordVisible" style="margin-top:26%;">
                      <i alt="show" class="far fa-eye eye-show" 
                      (click)="showConfirmPassword = !showConfirmPassword"
                      [class.hide]="showConfirmPassword"></i>
                      <i alt="hide" class="far fa-eye-slash eye-hide" 
                      (click)="showConfirmPassword = !showConfirmPassword"
                      [class.hide]="!showConfirmPassword"></i>
                    </div>
                    <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('passwords.confirmPassword').touched && formValue.get('passwords.confirmPassword').errors?.required">{{service.boslukKontrolHataMessage}}</label> 
                    <label class="hata-lbl-kullanici text-danger" *ngIf="formValue.get('passwords.confirmPassword').touched && formValue.get('passwords.confirmPassword').errors?.passwordMismatch">{{service.sifreEslesmeKontrolHataMessage}}</label> 
                  </div>
              </div> -->
          </div>
          </div>
          </form>
        </div>
        <div class="modal-footer" style="margin-top: 65%;">
          <button type="button" class="btn btn-primary"><i class="fas fa-user-edit mr-1"></i>Güncelle</button>
        </div>
    </div>
  </div>
</div>
</div>  
<footer style="margin-top: -2%; ">
  <button type="button" class="btn btn-primary ml-5" style="margin-left: 80%!important;"(click)="OnKullaniciEkle()"><i class="fas fa-user-plus"style="font-size:25px;"> Kullanıcı Ekle</i></button>
</footer>