.container-fluid {
    padding: 0px;
    margin:auto -12 auto -12px;
 }
.ml-5{
    margin-left: 13rem!important;
}
.sinmaz{
    position: absolute; margin: 18px auto auto -15px; color:white;
}
.changeCursorPoint{
    cursor: pointer;
}
div.form-group.required>label:first-child:after{
    content: '*';
    color: #dc3545;
    padding-left: 5px;
    font-size:15px
}
.kullanici-kayit-genislik{
    width: 80%;
    border-width: 3px;
    border-color: #000033;
}
.kullanici-giris-genislik{
    width: 80%;
    border-width: 3px;
    border-color: #000033;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.575)!important;
    border-radius: 30px!important;
}
.shadow-md{
    box-shadow: 0 1rem 3rem rgba(0,0,0,5.575)!important;
    border-radius: 30px!important;
}
.hata-lbl-kullanici{
    position: absolute!important;
    left: 15%;
    font-size: 80%;
}
.login-bg{
    background-image: url(assets/Images/bg.gif);
    background-repeat: no-repeat;
    position:absolute;
    background-repeat: round;
    z-index: 1;
}
.kullanici-kayit-giris-panel{
  height:450px; 
  margin:4% auto auto 25%!important;
}
.kullanici-giris-panel{
    margin-top:7rem!important; 
    height:68%; 
    width:50%;
    z-index: -2;
}
.kullanici-giris-form{
  z-index: 1;
  color: aliceblue;
  width: 25%; 
  margin: -20rem 38.5%;
  font-weight: bold;
  font-family: fangsong;
}
.kullanici-giris-logo-ana{
    z-index: 3;
    position: absolute;
    top: 3rem;
    left: 45%;
}
.menu{
    font-family: Times New Roman!important;font-size: 200%;margin-left: 15%!important;
}
.paswordVisible{
    position: absolute;
    left: 67%;
    top: 46.6%;
    font-size: 131%;
    color: #7a797e;
    cursor: pointer;
}
.hide {
    display: none;
  }
.border-3{
    border: 12px solid #007bff!important;
}
.lblKullaniciGuncelle{
    margin: auto auto auto -74%;
}
.map-container {
    flex-grow: 1;
}
.left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
}
.map-container {
    flex-grow: 1;
}